.cardStyling {
  padding: 20px;
  margin: 20px;
}

.emptyText {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.allPostHeading {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 32px;
}
