.postWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  align-items: center;
}

.allPostHeading {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 32px;
}
