.cardStyling {
  margin: 20px;
  padding: 20px;
}

.divStyle {
  margin: 20px;
}

.allPostHeading {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 32px;
}
